<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <!-- <form action="" method="POST">
        {{form}}
        <input type="submit" value="Register">
    </form> -->

    <!-- <form action="" method="get">
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}

        <label for="{{form.age.id_for_label}}">Age:</label>
        {{form.age}}

        <label for="{{form.email.id_for_label}}">
            email
        </label>
        {{form.email}}

        <label for="{{form.gender.id_for_label}}">Gender:</label>
        {{form.stu_gender}}

        <input type="submit" value="Submit">

    </form> -->


    <form action="" method="get">
        {% csrf_token %}

        {% for field in form %}
        {{field.label_tag}}
        <br>
        {{field}}
        <br>
        {% endfor %}

    </form>
</body>

</html>