<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.603);
            color: white;
        }
    </style>
</head>

<body>
    <!-- this for visible fields  -->
    <!-- <form action="" method="get">
        {% csrf_token %}

        {% for field in form %}
        {{field.label_tag}}
        <br>
        {{field}}
        <br>
        {% endfor %}

    </form> -->


    <!-- for hidden fileds  -->
    <form action="" method="get">
        {% csrf_token %}


        {% for field in form.visible_fields %}
        {{field.label_tag}}
        <br>
        {{field}}
        <br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>

</html>